<section id="crop-management">
    <h2>Crop Management</h2>
    <div class="grid-container">
        <div class="card">
            <a href="trackcrophealth.html" class="button" target="_blank">
                <h3>Track Crop Health</h3>
            </a>
            <p>Monitor health, growth stages, and predict yields.</p>
        </div>
        <div class="card">
            <a href="soilanalysis.html" class="button" target="_blank">
                <h3>Soil Analysis</h3>
            </a>
            <p>Get real-time analysis and soil recommendations.</p>
        </div>
        <div class="card">
            <a href="weatherforecasts.html" class="button" target="_blank">
                <h3>Weather Forecasts</h3>
            </a>
            <p>Receive accurate weather forecasts for your crops.</p>
        </div>
    </div>
</section>
