<section id="logistics">
    <h2>Logistics</h2>
    <div class="grid-container">
        <div class="card">
            <a href="https://truckguru.co.in/logistics-service" target="_blank">
                <h3>Transport Services</h3>
            </a>
            <p>Find logistics partners for smooth transportation.</p>
        </div>
        <div class="card">
            <a href="https://www.griffcodesignbuild.com/markets/cold-storage-construction/what-is-cold-storage/#:~:text=A%20cold%20storage%20facility%20uses,to%20the%20main%20storage%20area." target="_blank">
                <h3>Cold Storage</h3>
            </a>
            <p>Access cold storage facilities for perishable goods.</p>
        </div>
    </div>
</section>
