* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.main-header {
    background-color: #28a745;
    padding: 20px 0;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-login {
    background-color: #fff;
    color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.hero {
    height: 90vh;
    background-image: url('crop.webp'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 0 20px;
}


.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-cta {
    padding: 15px 30px;
    background-color: #fff;
    color: #28a745;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-cta:hover {
    background-color: #e9e9e9;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.feature-box {
    text-align: center;
    padding: 20px;
}

.feature-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #28a745;
}

.feature-box p {
    font-size: 16px;
}

.main-footer {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.social-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}
