
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f0f0;
}

h1, h2, h3 {
    margin: 0;
}

p {
    color: #666;
}

a {
    text-decoration: none;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2e8b57;
    color: white;
    margin-bottom: 13rem; 
}

header h1 span {
    color: #ffd700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ffd700;
}


main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    color: #2e8b57;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: #333;
    margin-bottom: 1rem;
}

button {
    background-color: #2e8b57;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffd700;
}


footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #062815;
    color: white;
    margin-top: 6rem;
}
